.Course-BG {
  background-color: white;
}

.enroll-btn {
  background-color: #41bbac;
  border-color: #41bbac;
  color: white;
}

.enroll-btn:hover {
  background-color: #221638;
  transition: 0.5s;
  color: white;
}

.course-name-link {
  font-weight: 500;
  font-size: 180%;
  color: rgb(109, 138, 227);
}

.course-name-link:hover {
  color: blue;
  transition: 0.5s;
}
.section-title {
  text-align: center;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 55px;
}

.section-title .sub-title {
  display: block;
  text-transform: uppercase;
  color: var(--secondaryColor);
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
}

.section-title h2, .section-title p {
  max-width: 615px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
}
.section-title p {
  margin-top: 20px;
  font-size: 20px;
}
.section-title h2{
  font-size: 40px;
}