.Course-BG {
  background-color: white;
}

.enroll-btn {
  background-color: #41bbac;
  border-color: #41bbac;
  color: white;
}

.enroll-btn:hover {
  background-color: #221638;
  transition: 0.5s;
  color: white;
}

.course-name-link {
  font-weight: 500;
  font-size: 180%;
  color: rgb(109, 138, 227);
}

.course-name-link:hover {
  color: blue;
  transition: 0.5s;
}
