.test {
  text-align: center;
  margin: auto;
}

.question-card {
  /* Center the div  */
  margin: 0 auto;

  /* Dimensions  */
  width: 50%; /* Can be in percentage also. */
  height: auto;

  /* Visual  */
  background-image: linear-gradient(#e4efe9, #93a5cf);
  padding: 16px;
  border-radius: 0px;
  color: black;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.options {
  list-style: none;
  margin: 10px 20px;
}

.option {
  margin-top: 8px;
  background-color: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 16px;
  font-size: 20px;
  cursor: pointer;
  color: #100f1f;
}

.option:hover {
  background-color: white;
  color: black;
  transition: 0.3s;
}

.question-text {
  color: black;
  font-size: 24px;
}

.correct-answer {
  background-color: lightgreen;
  transition: 0.5s;
}

.wrong-answer {
  background-color: red;
  transition: 0.5s;
}

/* Final Results  */

.final-results {
  /* Center the div  */
  margin: 0 auto;

  /* Dimensions  */
  width: 50%; /* Can be in percentage also. */
  height: auto;
  margin-top: 64px;

  /* Visual  */
  background-image: linear-gradient(#e4efe9, #93a5cf);
  padding: 16px;
  color: #100f1f;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.instructions {
  margin: 20px 100px;
  padding: 30px;
  text-align: justify;
}

.instructions li {
  padding: 4px;
}

/* .test-strt {
  color: red;
  background-color: white;
  border: 1px solid red;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 24px;
} */

.test-btn {
  background-color: #100f1f;
  color: white;
  font-size: larger;
  font-weight: 700;
  width: 200px;
  margin: auto;
  border-radius: 5px;
  padding: 10px 16px;
  outline: 0;
  margin-bottom: 20px;
  /* border-radius: 20px; */
  border: 0;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.test-btn:hover {
  background-color: white;
  color: var(--secondaryColor);
  transition: 0.5s;
  /* text-decoration: none; */
  border: 1px solid #100f1f;
}

.next-question {
  background-color: none;
  border: 2px solid #100f1f;
  color: #100f1f;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  width: 170px;
  height: 50px;
}

.next-question:hover {
  background-color: #100f1f;
  color: white;
  transition: 0.5s;
}

.disable-choice {
  pointer-events: none;
  cursor: default;
}

.custom-btn {
  background-color: #41bbac;
  border-color: #41bbac;
  color: white;
}

.custom-btn:hover {
  background-color: #221638;
  transition: 0.5s;
  color: white;
}

.imp-warning {
  color: rgb(235, 72, 72);
}
