@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css");
@import url('https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css');

.wrapper {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  font-family: var(--fontFamily);
  background-color: #fff;
  z-index: 1;
}
.wrapper p {
  color: var(--optionalColor);
  margin-bottom: 15px;
  line-height: 1.6;
  font-size: var(--fontSize);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.container {
  max-width: 1230px;
}

.banner-wrapper-content h1 {
  margin-bottom: 18px;
  font-size: 48px;
  font-weight: 700;
}
.banner-wrapper-content p {
  font-size: 17px;
}

.banner-wrap-image img {
  max-width: 100%;
  height: auto;
}

.btn-lg {
  background-color: #41bbac;
  border-color: #41bbac;
  color: white;
}
.btn-lg:hover {
  background-color: black;
  transition: 0.5s;
}

.banner-inner-area {
  margin-top: 40px;
  border-radius: 10px;
}

.banner-inner-area .row {
  margin-left: 0;
  margin-right: 0;
}

.banner-inner-area .row .col-lg-4 {
  padding-left: 0;
  padding-right: 0;
}

.banner-inner-area .row .col-lg-4:first-child .single-banner-box {
  border-radius: 10px 0 0 10px;
}
.banner-inner-area .row .col-lg-4:last-child .single-banner-box {
  border-radius: 0px 10px 10px 0px;
}

.single-banner-box {
  border-right: 1px solid #fff;
  background-color: #ebf1eb;
  padding: 20px 20px 20px 90px;
  position: relative;
}

.single-banner-box .icon {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 1;
  transition: var(--transition);
  font-size: 40px;
}

.single-banner-box:hover .icon {
  color: var(--secondaryColor);
}

.single-banner-box h3 {
  margin-bottom: 5px;
  font-size: 21px;
  font-weight: 700;
}

.single-banner-box p {
  margin-bottom: 0px;
}

.ptb-100{
  padding-top: 100px;
  padding-bottom: 100px;
}
.ptb-25{
  padding-top: 25px;
  padding-bottom: 25px;
}
/*about us*/
.about-title-area {
  margin-top: 50px;
  background-color: #f8f9f8;
  position: relative;
  z-index: 1;
  padding-top: 0px;
  padding-bottom: 53px;
}

.about-title-area h2 {
  position: relative;
  top: 30px;
  text-align: center;
  max-width: 800px;
  margin: 0px auto 0;
  font-size: 36px;
  font-weight: 600;
  padding-bottom: 0px;
}

img {
  max-width: 100%;
  height: auto;
}

.about-content h2{
  margin-bottom: 15px;
  font-size: 36px;
  font-weight: 600;
}

.about-content  .features-list{
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: -5px -8px 0;
}

.about-content  .features-list  li{
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 16px;
}

.about-content .features-list li span{
  display: block;
  position: relative;
  color: var(--blackColor);
  font-size: 18px;
  font-weight: 700;
  padding-left: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.about-content .features-list li span i{
  position: absolute;
  left: 0;
  top: -2px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  text-align: center;
  font-weight: 500;
  line-height: 40px;
  color: var(--secondaryColor);
  font-size: 25px;
}

@media only screen and (min-width: 1200px) and (max-width: 1355px) {
  .container {
    max-width: 1140px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .wrapper {
    padding-top: 100px;
  }
}

@media only screen and (max-width: 992px) {
  .banner-wrapper-content {
    text-align: center;
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .banner-wrapper-content h1 {
    margin-bottom: 12px;
    font-size: 28px;
  }
}
